:root {
  --title-font: 'Manrope', sans-serif;
  --text-font: 'Inter', sans-serif;

  --title: 2rem;
  --text-lg: 1.5rem;
  --text-md: 1rem;
  --text-sm: .875rem;
  --button: .875rem;

  
  --bg-color: #F7F9FB;
  --white: #FFFFFF;
  --gray-100: #E2E2E2;
  --gray-200: #3F4658;
  --gray-300: #1E1E1E;
  --purple-050: #F8F7FF;
  --purple-100: #E7DDFF;
  --purple-200: #8B5CF6;
  --purple-300: #6A3FCB;
  --gradient: linear-gradient(180deg, #7C3AED 0%, #6D28D9 100%);
}